{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>CMPUT 404 - Lab 5</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet"/>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<nav>
    <h1>CMPUT 404 - Lab 5</h1>
    <p><a href="{% url 'polls:index' %}">All Questions</a></p>
</nav>
<body>
{% block body %}
{% endblock %}
<script src="{% static 'js/base.js' %}"></script>
</body>
</html>
